
<body>
	<div class="fade"></div>


	<div id="site">
		<!-- header -->
		<header class="header">
			<div class="logo">
				<a href="index.html">/cab/ride.</a>
			</div>

			<div class="burger">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</header>

		<!-- nav -->
		<nav class="nav">
			<ul class="menu">
				<li>
					<a href="#" class="active">Portfolio</a>
					<ul>
						<!-- <li><a href="works-largue.html">/kids/</a></li>
						<li><a href="index.html" class="active">/bus/stop.</a></li>
						<li><a href="works-metro.html">Metro</a></li>
						<li><a href="works-clean.html">Clean</a></li>
						<li><a href="works-overlay.html">Overlay</a></li> -->
					</ul>
				</li>
				<li><a href="about.html">About</a></li>
				<li><a href="blog.html">News</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>

			<ul class="share">
				<li><a href="#" class="link">Instagram</a></li>
				<li><a href="#" class="link">Facebook</a></li>
			</ul>
		</nav>

		<div class="site__content">
			<!-- portfolio -->
			<div class="portfolio">
				<div class="works__mouse__title"></div>

				<div class="gallery" data-cols="3" data-margin="40" data-ratio="1:1">
					<!-- entry -->
					<div class="entry work__entry" data-title="Ciclisti Urbani" data-cat="Branding">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/01.jpg"></div>
							<div class="entry__image hover" data-bg="assets/img/works/01-2.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="The Nordic" data-cat="Art Direction">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/02.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="Velo Love" data-cat="Web">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/03.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="Botanical Escape" data-cat="Magazine">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/04.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="Drum & Bass" data-cat="Branding">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/05.jpg"></div>
							<div class="entry__image hover" data-bg="assets/img/works/05-2.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="Armani Exchange" data-cat="Art Direction">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/06.jpg"></div>
							<div class="entry__image hover" data-bg="assets/img/works/06-2.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="The World Bar" data-cat="Magazine">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/07.jpg"></div>
							<div class="entry__image hover" data-bg="assets/img/works/07-2.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="Es.Cape" data-cat="Branding">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/08.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="OKO Bike" data-cat="Web">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/09.jpg"></div>
						</a>
					</div>









					<!-- entry -->
					<div class="entry work__entry" data-title="Armani Exchange" data-cat="Art Direction">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/06.jpg"></div>
							<div class="entry__image hover" data-bg="assets/img/works/10.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="The World Bar" data-cat="Magazine">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/07.jpg"></div>
							<div class="entry__image hover" data-bg="assets/img/works/11.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="Es.Cape" data-cat="Branding">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/12.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="OKO Bike" data-cat="Web">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/13.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="OKO Bike" data-cat="Web">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/14.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="OKO Bike" data-cat="Web">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/15.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="OKO Bike" data-cat="Web">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/16.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="OKO Bike" data-cat="Web">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/17.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="OKO Bike" data-cat="Web">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/18.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="OKO Bike" data-cat="Web">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/19.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="OKO Bike" data-cat="Web">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/20.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="OKO Bike" data-cat="Web">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/21.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="OKO Bike" data-cat="Web">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/22.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="OKO Bike" data-cat="Web">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/23.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="OKO Bike" data-cat="Web">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/24.jpg"></div>
						</a>
					</div>



					<!-- entry -->
					<div class="entry work__entry" data-title="OKO Bike" data-cat="Web">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/25.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="OKO Bike" data-cat="Web">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/26.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="OKO Bike" data-cat="Web">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/27.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="OKO Bike" data-cat="Web">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/29.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="OKO Bike" data-cat="Web">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/30.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="OKO Bike" data-cat="Web">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/31.jpg"></div>
						</a>
					</div>


					<!-- entry -->
					<div class="entry work__entry" data-title="OKO Bike" data-cat="Web">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/32.jpg"></div>
						</a>
					</div>


					<!-- entry -->
					<div class="entry work__entry" data-title="OKO Bike" data-cat="Web">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/33.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="OKO Bike" data-cat="Web">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/34.jpg"></div>
						</a>
					</div>


					<!-- entry -->
					<div class="entry work__entry" data-title="OKO Bike" data-cat="Web">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/35.jpg"></div>
						</a>
					</div>

					<!-- entry -->
					<div class="entry work__entry" data-title="OKO Bike" data-cat="Web">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/36.jpg"></div>
						</a>
					</div>


					<!-- entry -->
					<div class="entry work__entry" data-title="OKO Bike" data-cat="Web">
						<a href="project.html">
							<div class="entry__image" data-bg="assets/img/works/37.jpg"></div>
						</a>
					</div>


















				</div>
			</div>

			<!-- footer -->
			<footer class="footer">
				<div class="row">
					<div class="column col-4">
						<h5>Say Hello</h5>
						<p>
							<a href="#" class="link">amani@dfi.agency</a><br>
							+01 512 553 1567
						</p>
					</div>

					<div class="column col-4">
						<h5>Meet us</h5>
						<p>Atlanta<br>GA, United States</p>
					</div>

					<div class="column col-4">
						<h5>Follow us</h5>
						<ul class="share">
							<li><a href="#" class="link">Instagram</a></li>
							<li><a href="#" class="link">Twitter</a></li>
						</ul>
					</div>
				</div>
			</footer>
		</div>
	</div>
